@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

/* RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

button,
input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* VARIABLES */
:root {
  --font-size: 24px;
  --strong-cyan: hsl(172, 67%, 45%);
  --not-so-strong-cyan: hsl(172, 67%, 75%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --error-red: rgb(206, 80, 80);
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: var(--font-size);
  min-height: 100vh;
  background-color: var(--light-grayish-cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
}

header {
  margin: 2rem 0;
  word-wrap: break-word;
  width: 7rem;
}

.title-text {
  font-size: inherit;
  color: var(--very-dark-cyan);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 10px;
}

main {
  background-color: var(--white);
  border-radius: 20px;
  width: 375px;
  text-align: left;
}

/* USER INPUT SECTION */
.user-input-section {
  padding: 2rem;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.single-input label {
  color: var(--dark-grayish-cyan);
  font-size: calc(0.6 * var(--font-size));
}

.error-message {
  color: var(--error-red);
  font-size: calc(0.6 * var(--font-size));
}

.user-input {
  color: var(--very-dark-cyan);
  padding-right: 15px;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: right;
}

input:hover {
  border: 2px solid var(--strong-cyan);
  border-radius: 5px;
}

input::placeholder {
  color: var(--dark-grayish-cyan);
}

.bill-input-field,
.people-input-field {
  position: relative;
  height: 40px;
}

.bill-input-field:before {
  content: url(/images/icon-dollar.svg);
}

.people-input-field:before {
  content: url(/images/icon-person.svg);
}

.bill-input-field:before,
.people-input-field:before {
  position: absolute;
  left: 15px;
  top: 8px;
}

.tip-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.select-tip-btn {
  border-radius: 5px;
  width: 45%;
  height: 3rem;
  margin: 8px 0;
}

.tip-value {
  background-color: var(--very-dark-cyan);
  color: var(--white);
}

.tip-value:hover {
  background-color: var(--not-so-strong-cyan);
  color: var(--very-dark-cyan);
}

.custom-tip-field {
  background-color: var(--white);
  text-align: right;
  color: var(--very-dark-cyan);
  padding-right: 0.5rem;
}

/* RESULTS SECTION */
.results-section {
  background-color: var(--very-dark-cyan);
  border-radius: 10px;
  padding: 2.5rem 1.5rem 1.5rem;
}

.single-result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.result-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.result-description label {
  color: var(--white);
  font-size: calc(0.6 * var(--font-size));
}

.result-description span {
  color: var(--dark-grayish-cyan);
  font-size: calc(0.5 * var(--font-size));
}

.dollar-icon-cyan {
  justify-self: flex-end;
  margin-left: auto;
  height: 30px;
}

.result-value {
  color: var(--strong-cyan);
  font-size: 30px;
}

.reset-btn {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  padding: 0.75rem;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  opacity: 0.3;
  font-size: calc(0.8 * var(--font-size));
}

.reset-btn:hover {
  background-color: var(--not-so-strong-cyan);
}

/* FOOTER */
footer {
  margin: 1rem 0;
  text-align: center;
  font-size: 0.7rem;
}

footer a {
  text-decoration: none;
  color: var(--very-dark-cyan);
}

footer a:hover {
  color: var(--strong-cyan);
}

/* JS USED CLASSES */
.hidden {
  display: none;
}

.error-border {
  border: 2px solid var(--error-red);
  border-radius: 5px;
}

.active-btn {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.full-opacity {
  opacity: 1;
}

/* MEDIA QUERIES */

@media (min-width: 1024px) {
  main {
    display: flex;
    width: 900px;
  }

  .user-input-section {
    width: 50%;
  }

  .results-section {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin: 2rem;
    width: 50%;
  }

  .select-tip-btn {
    width: 30%;
  }

  .reset-btn {
    justify-self: flex-end;
    margin-top: auto;
  }
}
